<a href="https://colab.research.google.com/github/julian-masdatascience/ML/blob/master/COVID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Section 1 - Loading our Libraries
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.ticker as ticker
# %matplotlib inline #if you're working in a Jupyter notebook

In [0]:
# Section 2 - Loading and Selecting Data
df = pd.read_csv('https://raw.githubusercontent.com/datasets/covid-19/master/data/countries-aggregated.csv', parse_dates=['Date'])
countries = ['Canada', 'Germany', 'United Kingdom', 'US', 'France', 'China','Colombia']
df = df[df['Country'].isin(countries)]

In [0]:
# Section 3 - Creating a Summary Column
df['Cases'] = df[['Confirmed', 'Recovered', 'Deaths']].sum(axis=1)

In [0]:
df.sample(5)

Country     Canada   China  Colombia  France  Germany      US  United Kingdom
Date
2020-02-19       9   92697         0      17       28      16              17
2020-04-11   30559  164234      3023  171241   185044  578129           90388
2020-04-07   22038  163463      1930  139931   145760  430708           62445
2020-02-05       5   29118         0       6       12      11               2
2020-03-12     126  147005         9    2353     2106    1715             486

In [0]:
# Section 4 - Restructuring our Data
df = df.pivot(index='Date', columns='Country', values='Cases')
countries = list(df.columns)
covid = df.reset_index('Date')
covid.set_index(['Date'], inplace=True)
covid.columns = countries

# Section 5 - Calculating Rates per 100,000
populations = {'Canada':37664517, 'Germany': 83721496 , 'United Kingdom': 67802690 , 'US': 330548815, 'France': 65239883, 'China':1438027228,'Colombia':40000000}
percapita = covid.copy()
for country in list(percapita.columns):
    percapita[country] = percapita[country]/populations[country]*100000

In [0]:

df.sample(5)

Country     Canada   China  Colombia  France  Germany      US  United Kingdom
Date
2020-02-29      26  121513         0     114       95      76              31
2020-04-04   15773  162819      1523  113994   123936  331912           47012
2020-03-23    2123  157586       283   23191    29445   44582            7129
2020-03-19     818  154940       103   11226    15477   14068            2921
2020-02-14       8   75856         0      13       17      16              10

In [0]:
percapita.head()

              Canada     China  Colombia  ...  Germany        US  United Kingdom
Date                                      ...
2020-01-22  0.000000  0.041237       0.0  ...      0.0  0.000303             0.0
2020-01-23  0.000000  0.048052       0.0  ...      0.0  0.000303             0.0
2020-01-24  0.000000  0.068288       0.0  ...      0.0  0.000605             0.0
2020-01-25  0.000000  0.103406       0.0  ...      0.0  0.000605             0.0
2020-01-26  0.002655  0.151597       0.0  ...      0.0  0.001513             0.0

[5 rows x 7 columns]

In [0]:
covid.head()

            Canada  China  Colombia  France  Germany  US  United Kingdom
Date
2020-01-22       0    593         0       0        0   1               0
2020-01-23       0    691         0       0        0   1               0
2020-01-24       0    982         0       2        0   2               0
2020-01-25       0   1487         0       3        0   2               0
2020-01-26       1   2180         0       3        0   5               0

In [0]:

# Section 6 - Generating Colours and Style
colors = {'Canada':'#045275', 'China':'#089099', 'France':'#7CCBA2', 'Germany':'#FCDE9C', 'US':'#DC3977', 'United Kingdom':'#7C1D6F','Colombia':'#7C2D6F'}
plt.style.use('fivethirtyeight')

# Section 7 - Creating the Visualization
plot = covid.plot(figsize=(12,8), color=list(colors.values()), linewidth=5, legend=False)
plot.yaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
plot.grid(color='#d4d4d4')
plot.set_xlabel('Date')
plot.set_ylabel('# of Cases')

# Section 8 - Assigning Colour
for country in list(colors.keys()):
    plot.text(x = covid.index[-1], y = covid[country].max(), color = colors[country], s = country, weight = 'bold')

# Section 9 - Adding Labels
plot.text(x = covid.index[1], y = int(covid.max().max())+45000, s = "COVID-19 Cases by Country", fontsize = 23, weight = 'bold', alpha = .75)
plot.text(x = covid.index[1], y = int(covid.max().max())+15000, s = "For the USA, China, Germany, France, United Kingdom, and Canada\nIncludes Current Cases, Recoveries, and Deaths", fontsize = 16, alpha = .75)
plot.text(x = percapita.index[1], y = -100000,s = 'datagy.io                      Source: https://github.com/datasets/covid-19/blob/master/data/countries-aggregated.csv', fontsize = 10)
view rawcovid-datagy3.py hosted with ❤ by GitHub

SyntaxError: ignored